{% extends 'huskers/base-new.html' %}

{% block title %}Huskers in the NFL Draft - {% endblock %}

{% block extra-styles %}
<style type="text/css">
	.red { color: #c80000; }
</style>
{% endblock %}

{% block content %}

	<div class="jumbotron name">
		<div class="container">
			<h4 class="red"><b>NEBRASKA FOOTBALL</b></h4>
			<h1>Huskers in the NFL Draft</h1>
		</div>
		</div>

	<div class="container">
	
	<div class="row" id="scholarships">
		<div id="center" class="col-sm-12">
		
			<p style="font-size: 1.1em; line-height: 1.45em; width: 99%; margin-left: 0.5%;">Nebraska has an NFL draft history that dates back to the beginning: 1936, when Bernie Scherer was selected 13th overall by the Green Bay Packers. Two Huskers have been selected with the No. 1 pick &#151; Sam Francis in 1937 and Irving Fryar in 1984. The full list features some statistical oddities, too: The 1984 draft includes three Huskers who were picked during a special supplemental draft, while two Huskers &#151; Tom Novak and Charley Toogood &#151; were selected in two different drafts. But there's more to discover. Check out the complete list below of every Husker taken in the NFL draft.</p><br>

			<table class="table player-list">
				<thead>
					<tr>
						<th class="text-muted">{{ all_picks.count }} player{{ all_picks|pluralize }} drafted</th>
						<th>Year</th>
						<th>Team</th>
						<th>Position</th>
						<th class="hidden-xs hidden-sm">Round</th>
						<th class="hidden-xs hidden-sm">Pick No.</th>
					</tr>
				</thead>
				
				<tbody>	
				
				{% for player in all_picks %}
				<tr>
					<td><a href="/huskers/player/{{ player.player_name|slugify }}">{{ player.player_name }}</a></td>
					<td><a href="/huskers/draft/{{ player.draft_year.year }}">{{ player.draft_year.year }}</a></td>
					<td><a href="/huskers/draft/{{ player.draft_team.team_name_slug }}">{{ player.draft_team.team_name }}</a></td>
					<td>{{ player.position }}</td>
					<td>{{ player.draft_round }}</td>
					<td>{{ player.draft_overall_pick }}</td>
				</tr>
				{% endfor %}
				
				
				</tbody>
			</table>
			
		</div>
	</div>
	
	
	</div><!-- /container -->
	
	{% include 'huskers/jumbo-search.html' %}	
	

{% endblock %}
