{% extends 'huskers/base.html' %}
{% block title %}Social Gridiron presented by the Omaha World Herald and VoterTide - Social Media Leaderboard - Omaha.com{% endblock %}
{% block content %}


<div class="white" style="padding: 0;">

<div class="brt-nav">

		<ul class="navItems">
			<li><a href="http://omaha.com/huskers">HOME</a></li>
			<li class=""><a href="http://sports.omaha.com/category/bigred">BLOG</a></li>

			
			<li><a href="http://www.omaha.com/section/bigten/">BIG TEN</a></li>

			<li class=""><a href="http://dataomaha.com/huskers/" target="_blank">RECRUITING</a></li>
			
		</ul>
		
			<div class="nav_link_social">
				<li><a href="http://www.twitter.com/owhbigred" target="_blank"><img src="http://omaha.com/images/subsite/huskers/twitter-bird.png">&nbsp;&nbsp;@OWHbigred &raquo;</a></li>
				<li><a href="http://www.facebook.com/bigredtoday" target="_blank"><img src="http://omaha.com/images/subsite/huskers/facebook-logo.png">&nbsp;&nbsp;BRT on Facebook &raquo;</a></li>
			</div>
		
		<div style="clear: both;"></div>
</div>


<iframe src="http://www.thesocialgridiron.com/ncaaf/11/nebraska_cornhuskers/penn_state_nittany_lions/" frameborder=0 width=1024 height=4200 /></iframe>





</div><!-- end white container -->
	

<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4c7c09dd2d6067ea"></script>
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdataomaha.com%2Fhuskers%2Fsocialgridiron&amp;layout=button_count&amp;show_faces=false&amp;width=75&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe>
<a style="float: left;" href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="OWHbigred">Tweet</a>


<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

{% endblock %}