<div class="jumbotron search" style="margin-bottom: 5em;">
<div class="container">
			<h2>Every Husker ever.</h2>
			<p class="lead">These are the players who built Nebraska football.</p>
			
		
        <div class="col-sm-10 col-lg-offset-1">
		<form class="form-inline" action="/huskers/search" method="GET">

	    <div class="input-group">
    	  <input type="text" class="form-control" placeholder="Search for..." type="search" name="q" value="{{ query|escape }}">
    	  <span class="input-group-btn">
    	    <button class="btn btn-danger" type="submit">Find player</button>
    	  </span>
    	</div><!-- /input-group -->
  		</form>
  		</div><!-- /.col-md-10 -->
        
			
</div>
</div>
