{% extends 'huskers/base.html' %}
{% block content %}
<h1>Lawrence Phillips</h1>
<img src="/media/huskermugs/lawrence-phillips.jpg" width="200px"><br>
<b>SAN DIEGO</b> - Former Nebraska football player Lawrence Phillips  was sentenced Friday to 31 years and four months in prison after convictions of assault and other charges for attacking and choking his girlfriend on two occasions in 2005.<br>
The sentence, according to the San Diego Union-Tribune, includes a prison term from a previous conviction in Los Angeles County for driving onto a field near the Los Angeles Coliseum in August 2005 and striking three boys and a 19-year-old man.<br>
On Aug. 11, a San Diego Superior Court jury found Phillips guilty of seven counts, including assault with great bodily injury, corporal injury to a spouse or roommate, false imprisonment, making a criminal threat and auto theft.<br>
On Friday, Judge Kerry Wells called Phillips. criminal behavior during the past decade .deeply disturbing,. according to the newspaper.s report.<br>
The 34-year-old Phillips told the judge that he believed that he did not receive a fair trial.<br>
.I think the court was intent on making sure that whatever the (district attorney) wanted to happen, happened,. Phillips said.<br>
The former NFL running back was accused of choking his girlfriend until she lost consciousness Aug. 2, 2005, and again Aug. 13, 2005.<br>
Deputy District Attorney Nicole Cooper said previously that the girlfriend testified that she and Phillips were having problems before the first choking incident. She woke up at their Mission Valley apartment and started piling Phillips. clothes on the bedroom floor.<br>
He became angry and choked the woman several times that evening.<br>
A week and a half later, the woman and Phillips went to an apartment on Aero Drive, where he accused her of infidelity. Phillips struck the woman, causing her to fall backward into a bathtub.<br>
They then drove to Rancho Bernardo, where Phillips apparently intended to confront the man with whom he believed that his girlfriend was having an affair, the prosecutor said.<br>
The woman ran and eventually was allowed into a nearby apartment. Police found her hiding in a bathroom.<br>
Two of Phillips. former girlfriends testified that he had choked them to unconsciousness on separate occasions, the prosecutor said.<br>
He has a 2000 conviction for domestic violence from Los Angeles stemming from one of those incidents.<br>
Phillips. lawyer, Steven Wadler, told the Union-Tribune on Friday that Phillips had personal .demons. that apparently caused him to exhibit violence toward women.<br>
Wadler said he had come to know Phillips recently as a man with intellectual skill and a .winning. personality that could have taken him far in life, beyond any football glory.<br>
During his NFL career, Phillips played for the St. Louis Rams, Miami Dolphins and San Francisco 49ers. He lettered at Nebraska in 1993 through .95.<br>
{% endblock %}
