<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
	<title>Signing Day 2014 - Nebraska Cornhuskers football rosters database - Omaha.com - Omaha World-Herald</title>
        
        <meta property="og:title" content="Signing Day 2014 - Husker football coverage from the Omaha World-Herald">
        <meta property="og:url" content="http://dataomaha.com/huskers/signing-day-2014">
        <meta property="og:description" content="The World-Herald has you covered with all of the latest information on Nebraska football's class of 2014.">

    <!-- Bootstrap base layer -->
    <link href="http://dataomaha.com/media/scripts/bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/huskers/signing-day-2014.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        
	<!-- Ionicons 1.3.0 -->
    <link rel="stylesheet" type="text/css" href="http://dataomaha.com/media/scripts/ionicons-1.3.0/css/ionicons.css" />	
		
        <!-- Chartbeat -->
                <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <!-- /Chartbeat -->

        <!-- google analytics for dataomaha -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17420602-3']);
          _gaq.push(['_trackPageview']);

          (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        <!-- /google analytics -->

        </head>

  <body data-spy="scroll" data-target=".navbar-scroller" id="top">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#top">Big Red Today</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-scroller">
            <li class="mobile"><a href="#recruits" title="Recruits" style="margin-top: 2px;">Recruits</a></li>
            <li class="mobile"><a href="#chat" title="Chat" style="margin-top: 2px;">Chat</a></li>
            <li class="mobile"><a href="#rankings" title="Rankings" style="margin-top: 2px;">Rankings</a></li>
            <li class="mobile"><a href="#gallery" title="Gallery" style="margin-top: 2px;">Gallery</a></li>
            <li class="mobile"><a href="#video" title="Video" style="margin-top: 2px;">Video</a></li>
            <li class="mobile"><a href="#stories" title="Top stories" style="margin-top: 2px;">Top stories</a></li>
            <li class="mobile"><a title="Share on Twitter" class="share" href="http://twitter.com/share"><i class="icon ion-social-twitter"></i></a></li>
			<li class="mobile"><a title="Share on Facebook" class="share" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdataomaha.com%2Fhuskers%2Fsigning-day-2014"><i class="icon ion-social-facebook"></i></a></li>
            
		  </ul>
		
		<a class="navbar-right" href="http://omaha.com" target="_blank"><img class="logo" src="http://dataomaha.com/media/logo-owh-white.png"></a>

		 
        </div><!--/.nav-collapse -->
      </div>
    </div>

       
        <div class="jumbotron">
		<div class="container">
                        <h1>Signing Day 2014</h1>
                        <p class="lead">The World-Herald has you covered with all of the latest information on Nebraska football's class of 2014.</p>
		</div>
        </div>

<div class="main"> 

	<div class="container">

	
<div class="left col-md-3">

		{% if schedule %}
		<div class="schedule">
		<h2>SCHEDULE</h2>
		
			{% for schedule in schedule %}
				{{ schedule.body|safe }}
			{% endfor %}
		</div>
		{% endif %}
	
		
		<h2 id="stories">TOP STORIES</h2>

		{% for story in headline %}
		{% if story.priority == 700 %}
		<div class="story">
			<a href="{{ story.link }}" target="_blank"><img class="main-photo" src="/media/{{ story.photo }}"></a>
		<h1 class="hed"><a href="{{ story.link }}" target="_blank">{{ story.hed }}</a></h1>
		<p class="summary">{{ story.body|safe|linebreaks }}</p>
		</div>
		{% else %}
		<li class="story">
			<h3><a href="{{ story.link }}" target="_blank">{{ story.hed }}&nbsp;&raquo;</a></h3>
		</li>
		{% endif %}
		{% endfor %}

			
		
		
		
		
</div><!-- end left -->
	
	

<div class="center col-md-6" id="chat">


		<h2>LIVE CHAT</h2>
		<div id='cil-root-9ecbcb3d39' class='cil-root'><span class='cil-config-data' title='{"altcastCode":"9ecbcb3d39","server":"www.coveritlive.com","geometry":{"width":475,"height":950},"configuration":{"pinsGrowSize":"on","newEntryLocation":"bottom","commentLocation":"bottom","titlePage":"on","skinOverride":""}}'>&nbsp;</span></div><script type='text/javascript'> window.cilAsyncInit = function() { cilEmbedManager.init() }; (function() { if (window.cilVwRand === undefined) { window.cilVwRand = Math.floor(Math.random()*10000000); } var e = document.createElement('script'); e.async = true; var domain = (document.location.protocol == 'http:') ? '//cdnsl.coveritlive.com' : '//cdnslssl.coveritlive.com'; e.src = document.location.protocol + domain + '/vw.js?v=' + window.cilVwRand; e.id = 'cilScript-9ecbcb3d39'; document.getElementById('cil-root-9ecbcb3d39').appendChild(e); }()); </script>
		<br>
		<br>
		

		{% if rankings %}
		<h2 id="rankings">BIG TEN RANKINGS</H2>
			<div class="rankings">
			{% for story in rankings %}
				{{ story.body|safe }}
			{% endfor %}
			</div>
		{% endif %}
		<br />
		
		<div class="desktop">
		<h2>CLASS OF 2014 MAP</h2>

			<p>Where is the Class of 2014 from? Hover over a state in the map below to see how many commits NU has signed from each state. Check out our <a href="/huskers" style="color: #ccc; text-decoration: underline; font-weight: bold;">full database</a> to see each Husker recruiting class going back to 1984.</p>
			<br>


		
		
			<!-- AMMAP SECTION ALL GOES AS ONE-->
			<body onLoad="ammap.focus()">
			<!-- saved from url=(0013)about:internet -->
			<!-- ammap script-->
 				<script type="text/javascript" src="/media/ammaps/swfobject.js"></script>
        			<div id="flashcontent">
                		<strong>You need to upgrade your Flash Player</strong>
        			</div>

		        <script type="text/javascript">
                	// <![CDATA[
                		var so = new SWFObject("/media/ammaps/ammap.swf", "ammap", "460px", "360px", "8", "#c80000");
    				so.addVariable("path", "/media/ammaps/");
                		so.addVariable("data_file", escape("/huskers/main/2014"));
    				so.addVariable("settings_file", escape("/media/ammaps/huskermap_settings.xml"));
                		so.addVariable("preloader_color", "#999999");
                		so.write("flashcontent");
                	// ]]>
        		</script>
			<!-- END OF AMMAP (Caps are good) -->

		</div>

		<h2 id="gallery">PHOTOS</h2>
		
		<a style="margin-bottom: 20px;" href="http://odc.omaha.com/index.php?u_page=5002&p=5065" target="_blank"><img src="http://dataomaha.com/media/huskermugs/20140130_farmer02.JPG" style="width: 485px;"></a>
		
		
		{% if video %}
			<div id="video">
			<h2>MEET THE PLAYERS</h2>
				{% for video in video %}
					<li class="video">
						<p><a href="{{ video.link }}" target="_blank"><i class="icon ion-social-youtube-outline"></i><br> {{ video.hed }}</a></p>
					</li>
				{% endfor %}
			</div>
			{% endif %}
		
</div><!-- end center -->

<div class="right col-md-3" id="recruits">

			<h2 class="bios">RECRUITS</h2>
			
			<p class="note">Click for bio and highlights / <img src="http://dataomaha.com/media/huskermugs/x-mark-green.png" width="10px">  Signed</p>
			<ul class="recruits">
				{% for player in recentlist %}
				{% if player.status != "Walk-on" %}
				<li class="husker-recruit" id="{{ player.player_name|slugify }}">
				
					
						<a href="/huskers/player/{{ player.player_name|slugify }}" target="_blank"><div class="recruit-mug" style="background: url(/media/{{ player.cropped_mug }}) center; background-size: 60px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/media/{{ player.cropped_mug }}', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/media/{{ player.cropped_mug }}', sizingMethod='scale')";"></div></a>
					
					<p style="color: #c80000;"><b><a href="/huskers/player/{{ player.player_name|slugify }}" target="_blank">{{ player.first_name }}<br>{{ player.last_name }}</b> &raquo;</a></p>
					<p><b>{{ player.position }}</b> <span class="desktop">&bull; {{ player.height }} &bull; {{ player.weight }}</span>  {% if player.signed == 1 %} <img 
		src="http://dataomaha.com/media/huskermugs/x-mark-green.png" class="check">{% endif %}</p>
					<div style="clear: both;"></div>
					
				</li>
				{% endif %}
				{% endfor %}
			
			</ul>
			<div style="clear: both;"></div>
			<p><a href="/huskers/class/2014#targets" class="targets">See list of 2014 targets &raquo;</a></p>

			
			
			<div style="clear:both;"></div>
	
	
		
	
		</div><!-- end right -->

	</div><!-- main/container -->
</div><!-- main -->


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=203719719688922";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

  </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://dataomaha.com/media/scripts/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  
  
        <!-- Chartbeat -->
        
                <script type="text/javascript">
                        var _sf_async_config={};
                        /** CONFIGURATION START **/
                        _sf_async_config.uid = 52047;
                        _sf_async_config.domain = 'omaha.com';
                        _sf_async_config.useCanonical = true;
                        _sf_async_config.sections = 'sports'; 
                        _sf_async_config.authors = 'Omaha.com';
                        /** CONFIGURATION END **/
                        (function(){
                          function loadChartbeat() {
                                window._sf_endpt=(new Date()).getTime();
                                var e = document.createElement('script');
                                e.setAttribute('language', 'javascript');
                                e.setAttribute('type', 'text/javascript');
                                e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
                                document.body.appendChild(e);
                          }
                          var oldonload = window.onload;
                          window.onload = (typeof window.onload != 'function') ?
                                 loadChartbeat : function() { oldonload(); loadChartbeat(); };
                        })();
                </script>
                
        <!-- Chartbeat -->



<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>

<noscript>
<a href="http://www.quantcast.com/p-f5LbblMdUG-tM" target="_blank"><img 
src="http://pixel.quantserve.com/pixel/p-f5LbblMdUG-tM.gif" style="display: none;" border="0" height="1" 
width="1" alt="Quantcast"/></a>
</noscript>
<!-- End Quantcast tag -->

<script language="JavaScript" type="text/javascript" src="http://www.omaha.com/js/s_code.js"></script>
<script language="JavaScript" type="text/javascript">
s.Account="saxoomahaworldherald"
s.cookieDomainPeriods="2"
s.pageName="Section: Sports - Big Red Today,Husker Signing Day,Section Overview"
s.server="S260608AT1VW822"
s.channel="Huskers"
/* Traffic Variables */
s.prop1="Section"
/* E-commerce Variables */
s.events="events"
/* Hierarchy Variables */
s.hier1="Sports - Big Red Today,Husker Signing Day,Section Overview,No Profile"
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();
if(s_code)document.write(s_code)
</script>

<noscript>
<img src="http://grndsinchant.112.2O7.net/b/ss/grndsinchant/1/H.2--NS/0"height="1" width="1" border="0" alt="" 
/></noscript>


</html>
