<?xml version="1.0" encoding="UTF-8"?>
<map map_file="maps/usa.swf" zoom="100%" zoom_x="0%" zoom_y="0%"> 
<areas> 

<area mc_name="AL" title="AL" value="1" url="/huskers/state/AL"/> 

<area mc_name="AK" title="AK" value="3" url="/huskers/state/AK"/> 

<area mc_name="AZ" title="AZ" value="2" url="/huskers/state/AZ"/> 

<area mc_name="AR" title="AR" value="3" url="/huskers/state/AR"/> 

<area mc_name="CA" title="CA" value="1" url="/huskers/state/CA"/> 

<area mc_name="CO" title="CO" value="2" url="/huskers/state/CO"/> 

<area mc_name="CT" title="CT" value="1" url="/huskers/state/CT"/> 

<area mc_name="DE" title="DE" value="3" url="/huskers/state/DE"/> 

<area mc_name="FL" title="FL" value="1" url="/huskers/state/FL"/> 

<area mc_name="GA" title="GA" value="1" url="/huskers/state/GA"/> 

<area mc_name="HI" title="HI" value="1" url="/huskers/state/HI"/> 

<area mc_name="ID" title="ID" value="1" url="/huskers/state/ID"/> 

<area mc_name="IL" title="IL" value="1" url="/huskers/state/IL"/> 

<area mc_name="IN" title="IN" value="1" url="/huskers/state/IN"/> 

<area mc_name="IA" title="IA" value="1" url="/huskers/state/IA"/> 

<area mc_name="KS" title="KS" value="1" url="/huskers/state/KS"/> 

<area mc_name="KY" title="KY" value="3" url="/huskers/state/KY"/> 

<area mc_name="LA" title="LA" value="2" url="/huskers/state/LA"/> 

<area mc_name="ME" title="ME" value="3" url="/huskers/state/ME"/> 

<area mc_name="MD" title="MD" value="1" url="/huskers/state/MD"/> 

<area mc_name="MA" title="MA" value="1" url="/huskers/state/MA"/> 

<area mc_name="MI" title="MI" value="2" url="/huskers/state/MI"/> 

<area mc_name="MN" title="MN" value="1" url="/huskers/state/MN"/> 

<area mc_name="MS" title="MS" value="3" url="/huskers/state/MS"/> 

<area mc_name="MO" title="MO" value="1" url="/huskers/state/MO"/> 

<area mc_name="MT" title="MT" value="1" url="/huskers/state/MT"/> 

<area mc_name="NE" title="NE" value="1" url="/huskers/state/NE"/> 

<area mc_name="NV" title="NV" value="5" url="/huskers/state/NV"/> 

<area mc_name="NH" title="NH" value="1" url="/huskers/state/NH"/> 

<area mc_name="NJ" title="NJ" value="1" url="/huskers/state/NJ"/> 

<area mc_name="NM" title="NM" value="1" url="/huskers/state/NM"/> 

<area mc_name="NY" title="NY" value="5" url="/huskers/state/NY"/> 

<area mc_name="NC" title="NC" value="3" url="/huskers/state/NC"/> 

<area mc_name="ND" title="ND" value="2" url="/huskers/state/ND"/> 

<area mc_name="OH" title="OH" value="3" url="/huskers/state/OH"/> 

<area mc_name="OK" title="OK" value="1" url="/huskers/state/OK"/> 

<area mc_name="OR" title="OR" value="1" url="/huskers/state/OR"/> 

<area mc_name="PA" title="PA" value="2" url="/huskers/state/PA"/> 

<area mc_name="RI" title="RI" value="1" url="/huskers/state/RI"/> 

<area mc_name="SC" title="SC" value="3" url="/huskers/state/SC"/> 

<area mc_name="SD" title="SD" value="1" url="/huskers/state/SD"/> 

<area mc_name="TN" title="TN" value="1" url="/huskers/state/TN"/> 

<area mc_name="Texas" title="Texas" value="1" url="/huskers/state/Texas"/> 

<area mc_name="UT" title="UT" value="1" url="/huskers/state/UT"/> 

<area mc_name="VT" title="VT" value="1" url="/huskers/state/VT"/> 

<area mc_name="VA" title="VA" value="1" url="/huskers/state/VA"/> 

<area mc_name="WA" title="WA" value="1" url="/huskers/state/WA"/> 

<area mc_name="WV" title="WV" value="1" url="/huskers/state/WV"/> 

<area mc_name="WI" title="WI" value="3" url="/huskers/state/WI"/> 

<area mc_name="WY" title="WY" value="2" url="/huskers/state/WY"/> 



</areas>

  <movies>
  <movie oid="movie1" text_box_x="36" text_box_y="366" text_box_width="190" text_box_height="120" title="Map chart example">
    <description>
      <![CDATA[This is map chart example. The more people live in a country, the more intense colour is. Dragging, zooming and small map is disabled]]>
    </description>

<labels>
    <label x="30" y="!50" text_size="18" color="#FFFFFF" remain="false">
      <text>US Population</text>
    </label>
  </labels>

  </movie>  
</movies>
<background><color>#FF33FF</color></background>
</map>
