{% extends 'huskers/base-new.html' %}

{% block title %} Class of {{ title }} - {% endblock %}

{% block extra-styles %}
<style type="text/css">
	.red { color: #c80000; }
</style>
{% endblock %}

{% block content %}

	<div class="jumbotron name">
		<div class="container">
			<h4 class="red"><b>NEBRASKA FOOTBALL</b></h4>
			<h1>Class of {{ title }}</h1>
			
		</div>
		</div>

	<div class="container">
	<div class="col-sm-10">

		<div id="center">


		<a name="scholarships"></a>
			
			<div class="table-responsive">
			<table class="table player-list sortable">
				<thead>
					<tr>
						<th class="text-muted" colspan=2>{{ scholarships.count }} scholarship player{{ scholarships|pluralize }}</th>
						<th></th>
						<th>Position</th>
						<th class="hidden-xs hidden-sm">Height</th>
						<th class="hidden-xs hidden-sm">Weight</th>
						<th class="hidden-xs hidden-sm">State</th>
						<th class="hidden-xs hidden-sm">Recruiters</th>
					</tr>
				</thead>
				
				<tbody>	
				{% for player in scholarships %}
				<tr>
					{% if player.cropped_mug %}<td style="width: 60px;"><a href="/huskers/player/{{ player.player_name|slugify }}"><img src="/media/{{ player.cropped_mug }}" style="border-radius: 50%; width: 40px;" /></a></td>{% endif %}
					<td {% if not player.cropped_mug %}colspan="2"{% endif %}><a href="/huskers/player/{{ player.player_name|slugify }}"><b>{{ player.player_name }}</b></a></td>
					<td>{% if player.stars_247c %}{% if player.stars_247c == "5 stars" %}<img class="rating" src="/media/huskers/five-stars.png">{% endif %}{% if player.stars_247c == "4 stars" %}<img class="rating" src="/media/huskers/four-stars.png">{% endif %}{% if player.stars_247c == "3 stars" %}<img class="rating" src="/media/huskers/three-stars.png">{% endif %}{% if player.stars_247c == "2 stars" %}<img class="rating" src="/media/huskers/two-stars.png">{% endif %}{% if player.stars_247c == "1 stars" %}<img class="rating" src="/media/huskers/one-star.png">{% endif %}{% endif %}</td>
					<td>{{ player.position }}</td>
					<td class="hidden-xs hidden-sm">{{ player.height }}</td>
					<td class="hidden-xs hidden-sm">{{ player.weight }}</td>
					<td class="hidden-xs hidden-sm">{{ player.state }}</td>
					<td class="hidden-xs hidden-sm">{% if player.recruiter_1 %}<a class="text-muted" href="/huskers/recruiter/{{ player.recruiter_1.nameslug }}">{{ player.recruiter_1.full_name }}</a>{% endif %}{% if player.recruiter_2 %}, <a class="text-muted" href="/huskers/recruiter/{{ player.recruiter_2.nameslug }}">{{ player.recruiter_2.full_name }}</a>{% endif %}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>


		{% if transfers %}
		<a name="transfers"></a>
			<div class="table-responsive">
			<table class="table player-list sortable">
				<thead>
					<tr>
						<th class="text-muted" colspan=2>{{ transfers.count }} transfer{{ transfers|pluralize }}</th>
						<th></th>
						<th>Position</th>
						<th class="hidden-xs hidden-sm">Height</th>
						<th class="hidden-xs hidden-sm">Weight</th>
						<th class="hidden-xs hidden-sm">State</th>
					</tr>
				</thead>
				
				<tbody>	
				{% for player in transfers %}
				<tr>
					<td style="width: 60px;">{% if player.cropped_mug %}<a href="/huskers/player/{{ player.player_name|slugify }}"><img src="/media/{{ player.cropped_mug }}" style="border-radius: 50%; width: 40px;" /></a>{% endif %}</td>
					<td><a href="/huskers/player/{{ player.player_name|slugify }}"><b>{{ player.player_name }}</b></a></td>
					<td>{% if player.stars_247c %}{% if player.stars_247c == "5 stars" %}<img class="rating" src="/media/huskers/five-stars.png">{% endif %}{% if player.stars_247c == "4 stars" %}<img class="rating" src="/media/huskers/four-stars.png">{% endif %}{% if player.stars_247c == "3 stars" %}<img class="rating" src="/media/huskers/three-stars.png">{% endif %}{% if player.stars_247c == "2 stars" %}<img class="rating" src="/media/huskers/two-stars.png">{% endif %}{% if player.stars_247c == "1 stars" %}<img class="rating" src="/media/huskers/one-star.png">{% endif %}{% endif %}</td>
					<td>{{ player.position }}</td>
					<td class="hidden-xs hidden-sm">{{ player.height }}</td>
					<td class="hidden-xs hidden-sm">{{ player.weight }}</td>
					<td class="hidden-xs hidden-sm">{{ player.state }}</td>
				</tr>
				{% endfor %}
				</tbody>
				
			</table>
			</div>		
		
			{% endif %}
		
		{% if walkons %}
		<a name="walk-ons"></a>
			<div class="table-responsive">
			<table class="table player-list sortable">
				<thead>
					<tr>
						<th class="text-muted">{{ walkons.count }} walk-on{{ walkons|pluralize }}</th>
						<th></th>
						<th>Position</th>
						<th class="hidden-xs hidden-sm">Height</th>
						<th class="hidden-xs hidden-sm">Weight</th>
						<th class="hidden-xs hidden-sm">State</th>
					</tr>
				</thead>
				
				<tbody>	
				{% for player in walkons %}
				<tr>
					<td><a href="/huskers/player/{{ player.player_name|slugify }}"><b>{{ player.player_name }}</b></a></td>
					<td>{% if player.stars_247c %}{% if player.stars_247c == "5 stars" %}<img class="rating" src="/media/huskers/five-stars.png">{% endif %}{% if player.stars_247c == "4 stars" %}<img class="rating" src="/media/huskers/four-stars.png">{% endif %}{% if player.stars_247c == "3 stars" %}<img class="rating" src="/media/huskers/three-stars.png">{% endif %}{% if player.stars_247c == "2 stars" %}<img class="rating" src="/media/huskers/two-stars.png">{% endif %}{% if player.stars_247c == "1 stars" %}<img class="rating" src="/media/huskers/one-star.png">{% endif %}{% endif %}</td>
					<td>{{ player.position }}</td>
					<td class="hidden-xs hidden-sm">{{ player.height }}</td>
					<td class="hidden-xs hidden-sm">{{ player.weight }}</td>
					<td class="hidden-xs hidden-sm">{{ player.state }}</td>
				</tr>
				{% endfor %}
				</tbody>
				
			</table>
			</div>
			
			{% else %}
			<h4>No walk-ons signed.</h4>
			{% endif %}
		
		{% if targets %}
		<a name="targets"></a>
			<div class="table-responsive">
			<table class="table player-list sortable">
				<thead>
					<tr>
						<th class="text-muted">{{ targets.count }} target{{ targets|pluralize }}</th>
						<th></th>
						<th>Position</th>
						<th class="hidden-xs hidden-sm">Height</th>
						<th class="hidden-xs hidden-sm">Weight</th>
						<th class="hidden-xs hidden-sm">State</th>
					</tr>
				</thead>
				
				<tbody>	
				{% for player in targets %}
				<tr>
					<td><a href="/huskers/player/{{ player.player_name|slugify }}"><b>{{ player.player_name }}</b></a></td>
					<td>{% if player.stars_247c %}{% if player.stars_247c == "5 stars" %}<img class="rating" src="/media/huskers/five-stars.png">{% endif %}{% if player.stars_247c == "4 stars" %}<img class="rating" src="/media/huskers/four-stars.png">{% endif %}{% if player.stars_247c == "3 stars" %}<img class="rating" src="/media/huskers/three-stars.png">{% endif %}{% if player.stars_247c == "2 stars" %}<img class="rating" src="/media/huskers/two-stars.png">{% endif %}{% if player.stars_247c == "1 stars" %}<img class="rating" src="/media/huskers/one-star.png">{% endif %}{% endif %}</td>
					<td>{{ player.position }}</td>
					<td class="hidden-xs hidden-sm">{{ player.height }}</td>
					<td class="hidden-xs hidden-sm">{{ player.weight }}</td>
					<td class="hidden-xs hidden-sm">{{ player.state }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>

		{% endif %}
		</div><!-- /center -->
	</div>
	
	<div class="col-sm-2" id="right">

			<table class="table table-condensed">
				<thead><tr><th colspan="2">Class breakdown</th><th></th></tr></thead>
				<tbody>
					<tr><td><a href="#scholarships">Scholarships</a></td><td class="r">{{ scholarships.count }}</td></tr>
					<tr><td><a href="#transfers">Transfers</a></td><td class="r">{{ transfers.count }}</td></tr>
					<tr><td><a href="#walk-ons">Walk-ons</a></td><td class="r">{{ walkons.count }}</td></tr>
					<tr><td><a href="#targets">Targets</td><td class="r">{{ targets.count }}</td></tr>
				</tbody>
			</table>
			
			<table class="table table-condensed">
				<thead><tr><th>Ratings</th><th></th></tr></thead>
				<tbody>
					<tr><td>5 stars</td><td class="r">{{ ratings.five_star|default_if_none:"0" }}</td></tr>
					<tr><td>4 stars</td><td class="r">{{ ratings.four_star|default_if_none:"0" }}</td></tr>
					<tr><td>3 stars</td><td class="r">{{ ratings.three_star|default_if_none:"0" }}</td></tr> 
					<tr><td>2 stars</td><td class="r">{{ ratings.two_star|default_if_none:"0" }}</td></tr>
				</tbody>
			</table>
			
			</div>
		
	
	</div>
	</div><!-- /container -->
	
	{% include 'huskers/jumbo-search.html' %}
	



{% endblock %}

{% block extra-scripts %}

		<script>
		$(document).ready(function() {
		
			$('table.sortable').DataTable( {
				"paging": false,
				"searching": false,
				"info": false,
			} );
		} );
	
	</script>
	
	
	
	
{% endblock %}
