{% extends 'huskers/base.html' %}
{% block content %}
<h1>Yourhighness Morgan</h1>
<img src="/media/huskermugs/yourhighness.jpg" width="200px"><br>
<p><b>Note: This guy is not a Husker. But he is awesome.</b>
<p>2009: Became an everyday contributor...saw action in nine games, only limited was injury...recorded nine tackles on the season...his first collegiate tackle was against ULM...first solo versus North Texas...first multiple-tackle game came at Troy and career high four versus Western Kentucky. Motor City Bowl: Travel squad member.

<p>2008: Redshirted.

<p>High School: Played for Inman Sherman at South Sumter High School in Webster, FL ... in just seven games during his senior year, recorded 91 tackles, including two sacks...earned first-team All-County honors, was named second-team All-Central Florida and was a first-team All-State member...participated in the Central Florida East and West All-Star Game...three-sport athlete (football, track and basketball)...one scouting source ranks him among the nation's top-50 linebackers.

<p>Personal: Undecided in major ...son of Samantha Morgan and the late Tyrone Bellamy...born in Webster, FL...relatives Eric English played for Bethune-Cookman University and Earl Everett played at the University of Florida and for the Atlanta Falcons.